* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}

.header {
    background-color: #1f2937;
    height: 10vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    margin-left: 40px;
}

.nav-links {
    padding: 15px;
    margin-right: 40px;
}

.nav-links li {
    display: inline-block;
    padding: 10px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #f9faf8;
}

ul {
    list-style-type: none;
}

.bx-hero {
    background-color: #1f2937;
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 55vh;
}

.hero {
    max-width: 300px;
}

.hero h1 {
    font-size: 38px;
    font-weight: bold;
    color: #f9faf8;
    margin-bottom: 1rem;
}

.hero p{
    color: #f9faf8;
    font-size: 18px; 
    margin-bottom: 1rem;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    border-radius: 25px;
    width: 100px;
}

.skyline img{
    width: 350px;
    height: 250px;
}

/* Section */

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 575px;
}

#title {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    text-align: center;
    margin-top: 15px;
}

.container {
    display: inline-flex;
    text-align: center;
    margin-top: 15px;
    margin-right: 80px;
}


.type,
img {
    height: 200px;
    border-radius: 25px;
}

.type,
.text {
    font-size: 15px;
    padding: 10px;
}

/*  Section  */

.blockquote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.quote {
    padding: 25px 40px;
    font-size: 20px;
}

.quote_text {
    font-style: italic;
    color: #1f2937;
    text-align: center;
}

.quote_text2 {
    text-align: right;
    font-weight: bold;
}

/*  Section */


.action {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    height: 200px;
}

#call_to_action {
    background-color: #3882f6;
    border-radius: 5px;
    padding: 25px 40px;
    width: 750px ;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

.action_text {
color: white;
text-align: left;
}


/* footer */


.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding: 20px;
    margin-top: 30px;
}

.footer_text {
    color: white;
    text-align: center;
}